---
layout: home
author_profile: false
tagline: "Exploring the historical landscapes of Egypt throughout the thirteenth and eighteenth centuries."
header:
  overlay_image: /assets/images/updated_background_image.jpg
  caption: "Photo credit: [**Description de L'Égypte**](https://digitalcollections.nypl.org/items/510d47e0-214b-a3d9-e040-e00a18064a99)"
  actions:
    - label: "More Info"
      url: "https://www.egylandscape.org/about/"
entries_layout: grid

feature_row:
  - image_path: assets/images/anr-logo.png
    excerpt: "Agence nationale de la recherche"
    url: "https://anr.fr/"
    btn_class: ".btn .btn--inverse .btn--small"
    btn_label: "Learn more"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    excerpt: 
    url: 
  - image_path: /assets/images/dfg_logo_schriftzug.png
    excerpt: "Deutsche Forschungsgemeinschaft"
    url: "https://www.dfg.de/"
    btn_class: ".btn .btn--inverse .btn--small"
    btn_label: "Learn more"

feature_row2:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    excerpt: "Aix-Marseille Université"
    url: "https://www.univ-amu.fr/"
    btn_class: ".btn .btn--inverse .btn--small"
    btn_label: "Learn more"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    excerpt: 
    url: 
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    excerpt: "Philipps-Universität Marburg"
    url: "https://www.uni-marburg.de/"
    btn_class: ".btn .btn--inverse .btn--small"
    btn_label: "Learn more"
---

<h4>Our Project Sponsors</h4>

{% include feature_row %}

{% include feature_row id="feature_row2" %}
