<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Where We've Been & Where We're Heading.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1 April 2019</h4>
                                    <h4 class="subheading">Project Launches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>22-24 May</h4>
                                    <h4 class="subheading">First Coordination Meeting (Marburg, Germany)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Project coordinators meet in Marburg to outline the project's future plans and goals</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1 June</h4>
                                    <h4 class="subheading">EGYLandscape Goes Online</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15-17 June</h4>
                                    <h4 class="subheading">EGYLandscape Panel at the 6th Confrence of the School of Mamluk Studies (Waseda University, Tokyo)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Irrigation, Landscapes, and Environment: Towards a History of Mamluk Agriculture". Organizer: Anthony Quickel. Chair: Wakako Kumakura. Presenters: Stuart Borsch, Yossef Rapoport, Muhammad Shaaban, Anthony Quickel.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3 September</h4>
                                    <h4 class="subheading">Opening EGYLandscape Workshop (Philipps Universität, Marburg)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The opening workship will give an overview of the EGYLandscape Project, as well as individual research projects. Additionally, there will be a training session inttroducing GIS mapping.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>14-17 November</h4>
                                    <h4 class="subheading">EGYLandscape Panel at the Annual Meeting of the Middle East Studies Association of North America (MESA) (New Orleans)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"The Egyptian Landscape: New Insights on Agrarian and Rural Trends in the Late Medieval and Early Modern Periods". Organizer: Muhammad H. Shaaban. Participants: Stuart Borsch, Anthony T. Quickel, Gregory Willias, Muhammad H. Shaaban.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May/June 2020</h4>
                                    <h4 class="subheading">First Work-in-Progress & Training (Cairo)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first work-in-progress workship in Cairo will focus on the developments of individual research papers and the progress of the GIS mapping - Survey of Medieval Egypt. There will also be trainings in digital humanities tools, especially GIS, as well as other issues like archeology and codicology.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2021</h4>
                                    <h4 class="subheading">Second Work-in-Progress & Training (Alexandria)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Building on the achievements of the Cairo workshop, the second workshop in Alexandria will follow the progress of the various research projects underway by participants, as well as the project's Survey of Egypt. Another training will be provided on related digital humaities tools and otehr scientific skills.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February/March 2022</h4>
                                    <h4 class="subheading">EGYLandscape Closing Conference (Aix-en-Provence)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The final conference, to be hosted in Aix-en-Provence, will showcase the findings of the individual research projects. These findings will then be collected for a final edited volume.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More
                                    <br>Coming
                                    <br>Soon!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
