<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
                    <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors & Partners</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
            
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/ANR_logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/DFG_logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Aix-Marseille_Uni_Logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Philipps_Uni_Marburg_logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/arce_logo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/cealex.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/ifao.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
