<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Find Out More About Our Digital Humanities Project.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Description</h4>
                    <p class="text-muted">This three year project, the first of its kind, aims to explore the historical landscapes of Egypt throughout the thirteenth and eighteenth centuries.
                    Our team is comprised of leading experts in a diverse array of specialities including archeology, history and environmental studies. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Source Data & Digital Humanities Tools</h4>
                    <p class="text-muted">Our team is committed to developing new resources for the wider academic community including GIS and other data types. 
                        The EGYLandscape mapping project, "Survey of Medieval Egypt", will begin this fall (2019).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publications & Events</h4>
                    <p class="text-muted">Our team members will reguarly publish new findings and updates on their research in the working papers section of this website.
                        Additionally, videos and updates from our workshops and panels will also be available.</p>
                </div>
            </div>
        </div>
    </section>
