---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_papers | default: "Recent Working Papers" }}</h3>

{% if paginator %}
  {% assign papers = paginator.papers %}
{% else %}
  {% assign papers = site.papers %}
{% endif %}

{% assign entries_layout = page.entries_layout | sort: 'date' | reverse %}
<div class="entries-{{ entries_layout }}">
  {% for post in papers %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
